html,
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: yellowgreen;
    height: 100px;
    padding: 0px;
    margin: 0px;
}

header h1 {
    padding: 25px;
    margin: 0px;
    text-align: center;
}

form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
}

label,
input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

.erreur {
    border: solid red;
}

.forms {
    padding: 0px;
    margin: 50px;
}