html,
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: yellowgreen;
    height: 100px;
    padding: 0px;
    margin: 0px;
}

header h1 {
    padding: 25px;
    margin: 0px;
    text-align: center;
}

form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
}

label,
input {
    display: table-cell;
    margin: .4rem;
}

label {
    padding-right: 10px;
}

.erreur {
    border: solid 2px red;
}

.forms {
    padding: 10px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
}

.forms-int {
    margin: 30px;
}

.mdpverif {
    margin: 15px;
}

.button {
    margin-top: 15px;
}