header {
    background: center;
    background-size: cover;
    position: relative;
    background-color: rgb(33, 150, 165);
    padding: 20px;
    margin: 15px;
}

form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
}

label,
input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}